table {
	border-collapse: collapse;
	width: 50%;
	align-self: auto;
}

th,
td {
	border: 1px solid #ddd;
	padding: 8px;
}

th {
	text-align: center;
	background-color: #4caf50;
	color: white;
}

td {
	text-align: center;
}

td:first-child {
	background-color: #ff8080;
	width: 60%;
}

td:last-child {
	background-color: #80b3ff;
	width: 40%;
}
